# CIS-PD Form Data

Use datadictionary and codelist to convert the scores on each form. Save each file in a pickle format.

In [130]:
import os
import platform
import pandas as pd
import pickle #to save files
import re
import h5py #save hdf5
import numpy as np

## Clean up data dictionary and codelist

In [57]:
dd = pd.read_sas('Y:\CIS-PD MUSC\datadictionary.sas7bdat')
dd.columns = dd.columns.str.replace('z', '')
del dd['CRFNb']
del dd['FieldNm']
del dd['SASNm']
del dd['SASLabel']
del dd['FieldTypeNm']
del dd['Length']
del dd['Unit']
del dd['Required']
dd = dd.dropna()
dd = dd.applymap(lambda x: x.decode() if isinstance(x, bytes) else x)

In [58]:
codelist = pd.read_sas('Y:\CIS-PD MUSC\codelist.sas7bdat')
codelist.columns = codelist.columns.str.replace('z', '')
codelist = codelist.rename(columns={'GroupID': 'CodeGroup'})
codelist = codelist.applymap(lambda x: x.decode() if isinstance(x, bytes) else x)

In [60]:
# Merge data dictionary and codelist
result = dd.merge(codelist, left_on='CodeGroup', right_on='CodeGroup', how='left')
result.FieldNb = result.FieldNb.str.replace('z', '')
#print(result.head(5))
#print(result[(result.FormID == 240.0)].head(2))

## path loop to load form files

In [ ]:
path = r'Y:\CIS-PD MUSC'
for files in os.walk(path, topdown=True):
        for filenames in files:
            if filenames.startswith('form') & not filenames.endswith('ats.sas7bdcat'):
                p = pathlib.Path(os.path.join(root, filenames))
                location = str(p.relative_to(path)).split("\\")[0]
                temp_df = pd.read_csv(p).set_index('Timestamp (ms)')
                form[location] = form[location].append(temp_df)
                print(form[location])

In [51]:
temp = pd.read_sas('Y:\CIS-PD MUSC\\form101.sas7bdat')

In [52]:
temp.head(2)

,zSubjectCode,SiteID,zVisitNm,F101Q11,F101Q12,F101zConsentDate,F101zAge,F101Q03,F101Q04,F101Q05,F101Q06,F101Q07,F101Q08,F101Q09,F101Q10
0,1000.0,1313.0,b'Baseline',b'A1784',b'10.3.2',2017-06-15,63.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0
1,1001.0,1313.0,b'Baseline',b'A1778',b'10.3.2',2017-06-15,64.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0

In [50]:
path = r'Y:\CIS-PD MUSC'

## Load form files

In [5]:
form101 = pd.read_sas('Y:\CIS-PD MUSC\\form101.sas7bdat')
form126 = pd.read_sas('Y:\CIS-PD MUSC\\form126.sas7bdat')
form238 = pd.read_sas('Y:\CIS-PD MUSC\\form238.sas7bdat')
form239 = pd.read_sas('Y:\CIS-PD MUSC\\form239.sas7bdat')
form240 = pd.read_sas('Y:\CIS-PD MUSC\\form240.sas7bdat')
form241 = pd.read_sas('Y:\CIS-PD MUSC\\form241.sas7bdat')
form242 = pd.read_sas('Y:\CIS-PD MUSC\\form242.sas7bdat')
form243 = pd.read_sas('Y:\CIS-PD MUSC\\form243.sas7bdat')
form501 = pd.read_sas('Y:\CIS-PD MUSC\\form501.sas7bdat')
form502 = pd.read_sas('Y:\CIS-PD MUSC\\form502.sas7bdat')
form503 = pd.read_sas('Y:\CIS-PD MUSC\\form503.sas7bdat')
form504 = pd.read_sas('Y:\CIS-PD MUSC\\form504.sas7bdat')
form505 = pd.read_sas('Y:\CIS-PD MUSC\\form505.sas7bdat')
form506 = pd.read_sas('Y:\CIS-PD MUSC\\form506.sas7bdat')
form508 = pd.read_sas('Y:\CIS-PD MUSC\\form508.sas7bdat')
form509 = pd.read_sas('Y:\CIS-PD MUSC\\form509.sas7bdat')
form510 = pd.read_sas('Y:\CIS-PD MUSC\\form510.sas7bdat')
form515 = pd.read_sas('Y:\CIS-PD MUSC\\form515.sas7bdat')
form518 = pd.read_sas('Y:\CIS-PD MUSC\\form518.sas7bdat')

In [61]:
formlist = list('form101') #= list(['form101','form126','form238','form239','form240','form241','form242','form243',
#               'form501','form502','form503','form504','form505','form506','form508','form509',
#               'form510','form515','form518'])

In [210]:
test = result[(result.FormID == 101.0)]
print(test.head(2))

   FormID FieldNb  CodeGroup  ItemNb ItemNm
0   101.0     Q03       51.0     0.0     No
1   101.0     Q03       51.0     1.0    Yes

## Transform form101 (automated)

### Need to take 'result' df (using 'test' df to test)
In form, match test:FieldNb (question#) to form:column name
Change form value using key as test:ItemNb and replace with ItemNm value

In [211]:
form = pd.read_sas('Y:\CIS-PD MUSC\\form101.sas7bdat')
form.columns = form.columns.str.replace('z|F101', '')

In [ ]:
formlist = list(['form101'])
## work on coding this
For loop on formlist
for x in formlist:
    if 
FormID #form101 using 'test' df
select FormID
for each test.FieldNb #Q03, this is a column name
    replace ItemNb with ItemNm #0.0 with 'No'

In [212]:
print(form.head(2))

   SubjectCode  SiteID      VisitNm       Q11        Q12 ConsentDate   Age  \
0       1000.0  1313.0  b'Baseline'  b'A1784'  b'10.3.2'  2017-06-15  63.0
1       1001.0  1313.0  b'Baseline'  b'A1778'  b'10.3.2'  2017-06-15  64.0

   Q03  Q04  Q05  Q06  Q07  Q08  Q09  Q10
0  1.0  1.0  1.0  1.0  1.0  1.0  0.0  0.0
1  0.0  1.0  1.0  1.0  1.0  1.0  0.0  0.0

In [ ]:
remove 'z' from result.FieldNb values

Use Data Dictionary to match zFormID to corresponding form file
Match question from Data Dictionary: zFieldNb to form column name
Match DataDictionary: zCodeGroup to Codelist: zGroupID
Replace answer value to each question in Form with Codelist: zItemNm

## Transform form101 (manually)

In [34]:
form101 = pd.read_sas('Y:\CIS-PD MUSC\\form101.sas7bdat')
form101.columns = form101.columns.str.replace('z|F101', '')

In [6]:
# Clean up column names and convert bytes data
form101 = pd.read_sas('Y:\CIS-PD MUSC\\form101.sas7bdat')
form101.columns = form101.columns.str.replace('z|F101', '')
# Form101 uses code 51 (DataDictionary zCodeGroup). 0.0=No, 1.0=Yes
form101['Q03'] = form101['Q03'].map({0.0:'no', 1.0:'yes'})
form101['Q04'] = form101['Q04'].map({0.0:'no', 1.0:'yes'})
form101['Q05'] = form101['Q05'].map({0.0:'no', 1.0:'yes'})
form101['Q06'] = form101['Q06'].map({0.0:'no', 1.0:'yes'})
form101['Q07'] = form101['Q07'].map({0.0:'no', 1.0:'yes'})
form101['Q08'] = form101['Q08'].map({0.0:'no', 1.0:'yes'})
form101['Q09'] = form101['Q09'].map({0.0:'no', 1.0:'yes'})
form101['Q10'] = form101['Q10'].map({0.0:'no', 1.0:'yes'})
form101 = form101.applymap(lambda x: x.decode() if isinstance(x, bytes) else x)

In [12]:
form101.head(5)

,SubjectCode,SiteID,VisitNm,Q11,Q12,ConsentDate,Age,Q03,Q04,Q05,Q06,Q07,Q08,Q09,Q10
0,1000.0,1313.0,Baseline,A1784,10.3.2,2017-06-15,63.0,yes,yes,yes,yes,yes,yes,no,no
1,1001.0,1313.0,Baseline,A1778,10.3.2,2017-06-15,64.0,no,yes,yes,yes,yes,yes,no,no
2,1002.0,1313.0,Baseline,A1586,10.3.2,2017-06-16,51.0,no,yes,yes,yes,yes,yes,no,no
3,1003.0,1313.0,Baseline,A1522,10.3.2,2017-06-19,60.0,yes,yes,yes,yes,yes,yes,no,no
4,1004.0,1332.0,Baseline,A1660,10.3.2,2017-06-21,52.0,yes,yes,yes,yes,yes,yes,no,no

## Change code to value function

In [77]:
test101 = pd.read_sas('Y:\CIS-PD MUSC\\form101.sas7bdat')
test101.columns = test101.columns.str.replace('z|F101', '')

In [79]:
#use result

def CodetoValue(FormNb, FormSeries, QNm):
    resultFilt = result[(result.FormID == FormNb) & (result.FieldNb == QNm)]
    return np.vstack([resultFilt[resultFilt['ItemNb']==INb]['ItemNm'].values for INb in FormSeries])

In [ ]:
formlist = list('form101') #= list(['form101','form126','form238','form239','form240','form241','form242','form243',
#               'form501','form502','form503','form504','form505','form506','form508','form509',
#               'form510','form515','form518'])

In [131]:
#example
FormNb, FormSeries, QNm
101.0, test101['Q03'],'Q03'



for f in formlist:
    temp = pd.read_sas(os.path.join(path,f + '.sas7bdat'))
    temp.columns = temp.columns.str.replace('z|F101', '')
    temp = temp.filter(regex='Q|DataCollected')
    temp = temp.select_dtypes(include=['float64'])
    c = ## get colnames
    
    for c in list(temp):

        #FormSeries = CodetoValue(101.0, test101['Q03'],'Q03').shape
        FormSeries = CodetoValue(101.0, f[c], c).shape   
        
    temp = temp.applymap(lambda x: x.decode() if isinstance(x, bytes) else x)
    
    ## save file

SyntaxError: invalid syntax (<ipython-input-131-e2340510acf0>, line 12)

In [135]:
f='form101'
path = r'Y:\CIS-PD MUSC'

In [137]:
temp = pd.read_sas(os.path.join(path,f + '.sas7bdat'))

In [138]:
temp.columns = temp.columns.str.replace('z|F101', '')

In [139]:
temp = temp.filter(regex='Q|DataCollected')
temp = temp.select_dtypes(include=['float64'])

In [142]:
temp.head(2)

   Q03  Q04  Q05  Q06  Q07  Q08  Q09  Q10
0  1.0  1.0  1.0  1.0  1.0  1.0  0.0  0.0
1  0.0  1.0  1.0  1.0  1.0  1.0  0.0  0.0

In [ ]:
take f, - form and convert to float

In [141]:
for c in list(temp):

        #FormSeries = CodetoValue(101.0, test101['Q03'],'Q03').shape
        FormSeries = CodetoValue(101.0, temp[c], c).shape

TypeError: string indices must be integers

In [155]:
x= 'form101'
x = x.replace('form', '')
x.astype(float64)
print(type(x))
print(x)

AttributeError: 'str' object has no attribute 'astype'

In [151]:
type(test101.loc[0]['Q05'])

numpy.float64

In [145]:
list(test101)

['SubjectCode',
 'SiteID',
 'VisitNm',
 'Q11',
 'Q12',
 'ConsentDate',
 'Age',
 'Q03',
 'Q04',
 'Q05',
 'Q06',
 'Q07',
 'Q08',
 'Q09',
 'Q10']

In [ ]:
form101 = pd.read_sas('Y:\CIS-PD MUSC\\form101.sas7bdat')
form101.columns = form101.columns.str.replace('z|F101', '')
# Form101 uses code 51 (DataDictionary zCodeGroup). 0.0=No, 1.0=Yes
form101['Q03'] = form101['Q03'].map({0.0:'no', 1.0:'yes'})
form101['Q04'] = form101['Q04'].map({0.0:'no', 1.0:'yes'})
form101['Q05'] = form101['Q05'].map({0.0:'no', 1.0:'yes'})
form101['Q06'] = form101['Q06'].map({0.0:'no', 1.0:'yes'})
form101['Q07'] = form101['Q07'].map({0.0:'no', 1.0:'yes'})
form101['Q08'] = form101['Q08'].map({0.0:'no', 1.0:'yes'})
form101['Q09'] = form101['Q09'].map({0.0:'no', 1.0:'yes'})
form101['Q10'] = form101['Q10'].map({0.0:'no', 1.0:'yes'})
form101 = form101.applymap(lambda x: x.decode() if isinstance(x, bytes) else x)

In [49]:
form101.shape

(56, 15)

In [83]:
test101['Q03'] = CodetoValue(101.0, test101['Q03'],'Q03')

In [84]:
test101.head(2)

,SubjectCode,SiteID,VisitNm,Q11,Q12,ConsentDate,Age,Q03,Q04,Q05,Q06,Q07,Q08,Q09,Q10
0,1000.0,1313.0,b'Baseline',b'A1784',b'10.3.2',2017-06-15,63.0,Yes,1.0,1.0,1.0,1.0,1.0,0.0,0.0
1,1001.0,1313.0,b'Baseline',b'A1778',b'10.3.2',2017-06-15,64.0,No,1.0,1.0,1.0,1.0,1.0,0.0,0.0

In [106]:
#type(temp['Q11'])
type(temp.iloc[0]['Q04'])

numpy.float64

In [115]:
# Filter questions that need to be decoded
#test101.filter(regex='Q|DataCollected'))
temp = test101.filter(regex='Q|DataCollected')
temp = temp.select_dtypes(include=['float64'])

In [116]:
temp.head(2)

   Q04  Q05  Q06  Q07  Q08  Q09  Q10
0  1.0  1.0  1.0  1.0  1.0  0.0  0.0
1  1.0  1.0  1.0  1.0  1.0  0.0  0.0

In [ ]:
function pass the column name FieldNb = column name
    key ItemNb: value ItemNm
    key:value

        
Nested dictionary option

In [24]:
print(result.head(5))

   FormID FieldNb  CodeGroup  ItemNb ItemNm
0   101.0     Q03       51.0     0.0     No
1   101.0     Q03       51.0     1.0    Yes
2   101.0     Q04       51.0     0.0     No
3   101.0     Q04       51.0     1.0    Yes
4   101.0     Q05       51.0     0.0     No

## Transform Form126

In [14]:
#form126 = pd.read_sas('Y:\CIS-PD MUSC\\form101.sas7bdat')
form126.columns = form126.columns.str.replace('z|F126', '')

In [15]:
# Form126 uses code 51 (DataDictionary zCodeGroup). 0.0=No, 1.0=Yes
form126['Q01'] = form126['Q01'].map({1.0:'Study completed',
                                     3.0:'Lost follow-up',
                                     4.0:'Death',
                                     9990.0:'Consent withdrawn',
                                     9996.0:'Other'})
form126['Q05'] = form126['Q05'].map({0.0:'no', 1.0:'yes'})
form126['Q10'] = form126['Q10'].map({0.0:'no', 1.0:'yes'})
form126['Q11'] = form126['Q11'].map({1.0:'Already enrolled',
                                     2.0:'Planning to enroll',
                                     3.0:'Does not plan to enroll',
                                     9990.0:'Other'})

form126 = form126.applymap(lambda x: x.decode() if isinstance(x, bytes) else x)

In [16]:
form126.head(5)

,SubjectCode,SiteID,VisitNm,Q07,Q08,Q02,Q03,Q06,Q09,Q05,Q10,Q11,Q01,Q11Other,Q01RConsent,Q01Other
0,1000.0,1313.0,End of Study,Amy,Amara,NaT,NaT,NaT,2017-12-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1001.0,1313.0,End of Study,Amy,Amara,NaT,NaT,NaT,2017-12-21,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1002.0,1313.0,End of Study,Amy,Amara,NaT,NaT,NaT,2017-08-03,NaN,NaN,NaN,NaN,NaN,NaN,Health emergency
3,1003.0,1313.0,End of Study,Amy,Amara,NaT,NaT,NaT,2017-08-14,NaN,NaN,NaN,NaN,NaN,NaN,medical complications
4,1004.0,1332.0,End of Study,Tanya,Simuni,2017-10-09,NaT,NaT,2017-10-09,NaN,NaN,NaN,NaN,NaN,didn't like watch,NaN

## Transform form238

In [18]:
form238.columns = form238.columns.str.replace('z|F238', '')
form238['DataCollected'] = form238['DataCollected'].map({0.0:'no', 1.0:'yes'})
form238['Q01'] = form238['Q01'].map({1.0:'Patient',
                                     2.0:'Caregiver',
                                     3.0:'Patient and Caregiver in Equal Proportion'})
form238['Q08'] = form238['Q08'].map({1.0:'Patient',
                                     2.0:'Caregiver',
                                     3.0:'Patient and Caregiver in Equal Proportion'})
form238['Q29'] = form238['Q29'].map({0.0:'no', 1.0:'yes'})
form238['Q30'] = form238['Q30'].map({1.0:'on', 2.0:'off'})
form238['Q31'] = form238['Q31'].map({0.0:'no', 1.0:'yes'})
form238['Q66'] = form238['Q66'].map({1.0:'no', 2.0:'yes'})
form238['Q67'] = form238['Q67'].map({0.0:'no', 1.0:'yes'})
form238['Q11'] = form238['Q11'].map({0.0:'Asymptomatic',
                                     1.0:'Unilateral involvement only',
                                     2.0:'Bilateral involvement without impairment of balance',
                                     3.0:'Mild to moderate involvement; some postural instability but physically independent; needs assistance to recover from pull test.',
                                     4.0:'Severe disability; still able to walk or stand unassisted',
                                     5.0:'Wheelchair bound or bedridden unless aided'})

form238 = form238.applymap(lambda x: x.decode() if isinstance(x, bytes) else x)

In [19]:
form238.head(5)

,SubjectCode,SiteID,VisitNm,FormDate,Q02,Q03,Q04,Q05,Q06,Q07,...,Q74,DataCollected,Q01,Q08,Q29,Q30,Q31,Q66,Q67,Q68
0,1000.0,1313.0,Baseline,2017-06-15,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,yes,Patient,Patient,yes,on,yes,no,no,2.0
1,1000.0,1313.0,2 Weeks,2017-06-29,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,yes,Patient,Patient,yes,on,yes,NaN,NaN,2.0
2,1000.0,1313.0,1 Month,2017-07-13,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,yes,Patient,Patient,yes,on,yes,NaN,NaN,2.0
3,1000.0,1313.0,3 Months,2017-09-21,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,yes,Patient,Patient,yes,on,yes,no,no,2.0
4,1000.0,1313.0,6 Months,2017-12-11,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,yes,Patient,Patient,yes,on,yes,no,no,2.0

## Transform form239

In [ ]:
form239.columns = form239.columns.str.replace('z|F239', '')

form238['DataCollected'] = form238['DataCollected'].map({0.0:'no', 1.0:'yes'})
form238['Q01'] = form238['Q01'].map({1.0:'Patient',
                                     2.0:'Caregiver',
                                     3.0:'Patient and Caregiver in Equal Proportion'})
form238['Q08'] = form238['Q08'].map({1.0:'Patient',
                                     2.0:'Caregiver',
                                     3.0:'Patient and Caregiver in Equal Proportion'})
form238['Q29'] = form238['Q29'].map({0.0:'no', 1.0:'yes'})
form238['Q30'] = form238['Q30'].map({1.0:'on', 2.0:'off'})
form238['Q31'] = form238['Q31'].map({0.0:'no', 1.0:'yes'})
form238['Q66'] = form238['Q66'].map({1.0:'no', 2.0:'yes'})
form238['Q67'] = form238['Q67'].map({0.0:'no', 1.0:'yes'})
form238['Q11'] = form238['Q11'].map({0.0:'Asymptomatic',
                                     1.0:'Unilateral involvement only',
                                     2.0:'Bilateral involvement without impairment of balance',
                                     3.0:'Mild to moderate involvement; some postural instability but physically independent; needs assistance to recover from pull test.',
                                     4.0:'Severe disability; still able to walk or stand unassisted',
                                     5.0:'Wheelchair bound or bedridden unless aided'})

form239 = form239.applymap(lambda x: x.decode() if isinstance(x, bytes) else x)

## Transform form240

In [ ]:
form240.columns = form240.columns.str.replace('z|F240', '')

form240 = form240.applymap(lambda x: x.decode() if isinstance(x, bytes) else x)

## Transform form241

In [ ]:
form241.columns = form241.columns.str.replace('z|F241', '')

form241 = form241.applymap(lambda x: x.decode() if isinstance(x, bytes) else x)

## Transform form242

In [ ]:
form242.columns = form242.columns.str.replace('z|F242', '')

form242 = form242.applymap(lambda x: x.decode() if isinstance(x, bytes) else x)

## Transform form243

In [ ]:
form243.columns = form243.columns.str.replace('z|F243', '')

form243 = form243.applymap(lambda x: x.decode() if isinstance(x, bytes) else x)

## Transform form501

In [ ]:
form501.columns = form501.columns.str.replace('z|F501', '')

form501 = form501.applymap(lambda x: x.decode() if isinstance(x, bytes) else x)

## Transform form502

In [ ]:
form502.columns = form502.columns.str.replace('z|F502', '')

form502 = form502.applymap(lambda x: x.decode() if isinstance(x, bytes) else x)

## Transform form503

In [ ]:
form503.columns = form503.columns.str.replace('z|F503', '')

form503 = form503.applymap(lambda x: x.decode() if isinstance(x, bytes) else x)

## Transform form504

In [ ]:
form504.columns = form504.columns.str.replace('z|F504', '')

form504 = form504.applymap(lambda x: x.decode() if isinstance(x, bytes) else x)

## Transform form505

In [ ]:
form505.columns = form505.columns.str.replace('z|F505', '')

form505 = form505.applymap(lambda x: x.decode() if isinstance(x, bytes) else x)

## Transform form506

In [ ]:
form506.columns = form506.columns.str.replace('z|F506', '')

form506 = form506.applymap(lambda x: x.decode() if isinstance(x, bytes) else x)

## Transform form508

In [ ]:
form508.columns = form508.columns.str.replace('z|F508', '')

form508 = form508.applymap(lambda x: x.decode() if isinstance(x, bytes) else x)

## Transform form509

In [ ]:
form509.columns = form509.columns.str.replace('z|F509', '')

form509 = form509.applymap(lambda x: x.decode() if isinstance(x, bytes) else x)

## Transform form510

In [ ]:
form510.columns = form510.columns.str.replace('z|F510', '')

form510 = form510.applymap(lambda x: x.decode() if isinstance(x, bytes) else x)

## Transform form515

In [ ]:
form515.columns = form515.columns.str.replace('z|F515', '')

form515 = form515.applymap(lambda x: x.decode() if isinstance(x, bytes) else x)

## Transform form518

In [ ]:
form518.columns = form518.columns.str.replace('z|F518', '')

form518 = form518.applymap(lambda x: x.decode() if isinstance(x, bytes) else x)

## Save/Read as h5 file type

In [ ]:
# Save file
hf = h5py.File('data.h5', 'w')
hf.create_dataset('dataset_1', data=d1)
hf.close()

In [ ]:
# Read file
hf = h5py.File('data.h5', 'r')
# Check contents
hf.keys()

n1 = hf.get('dataset_1')
n1 = np.array(n1)
hf.close()

## option: Save all forms into separate pickle files

In [ ]:
# Create dictionaries for all forms
d = os.listdir(path)
f = [filename for filename in d if filename.startswith('form')] #need to update to skip existing files in /data
print(f)

In [ ]:
#create data dict for remaining subjects
data_all = []
for FormID in list(set(f)):
    print('Loading Form ' + FormID + ' Data...')
    act_dict, timestamps = extract_data(FormID, os.path.join(path, FormID))
    print('Extract data complete.')
    #save dict to Pickle file
    filename = dict_path+'\\'+FormID + 'dict.pkl'
    filename = os.path.join(dict_path, FormID + 'dict.pkl')
    print(filename)
    f = open(filename,'wb')
    pickle.dump(act_dict,f)
    f.close()
    print(filename + ' ' + 'File Saved\n')